<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Planting Guide Enter Dates</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <form action="/plancrop/success" method="POST">
            
            <p>
                <label for="returnedBeginDate">Enter earliest desired harvest date</label>
                <input type='date' id="returnedBeginDate" name='returnedBeginDate' value="">
            </p>
            <p>
                <label for="returnedEndDate">Enter date, latest first harvest</label>
                <input type='date' id="returnedEndDate" name='returnedEndDate' value="">
            </p>

            <input type="submit" value="Submit">
        </form>
        
        <script src="" async defer></script>
    </body>
</html>