<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Private Wall Messages</title>
</head>
<body>
    <div id="container" > 
         <div id="topGreeting"> <!--In here:  CodingDojo Wall, Welcome user, Log Out -->

        {% with messagesT = get_flashed_messages(category_filter=["success"]) %}     <!-- declare a variable called messages -->
        {% if messagesT %}                            <!-- check if there are any messages -->
            {% for messageL in messagesT %}            <!-- loop through the messages -->
                <p>{{messageL}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
        {% endwith %}
        
            <p>Welcome, you have been logged in,  {{ session['session_fname'] }}   as user number  {{ session['user_id'] }}
            
            <a href="/logout">logout</a>
            </p>

        </div> <!--End topGreeting-->
        <div id="sendReceive"> <!-- This is to hold and control the left/receive messages area and the right send message area  -->
            <div id="leftReceivedMessages":">  <!-- This will hold  header Messages for You and the list of received messages-->
                <h3>{{numberRXmess}}  Message(s) For You</h3>
                {%   for the_users in the_senders %}
                <div class="repeatingMessageBox">
                        <div class="messageSide">
                            <p>{{the_users['fname']}} said at date/time: {{the_users['created_at']}}</p>
                            <p>&nbsp;{{the_users['message_content']}}</p>
            
                        </div> <!--End message side of message box-->
                       
                        <a class="deleteAnchor" href="/messDelete/{{the_users['id']}}" >Delete or img tag</a> <!--id is messages.id-->
                    </div> <!--End div box that repeats for received messages-->
                    {% endfor %}

            </div>  <!-- End lefReceivedMessages-->
            <div id="rightSendMessages">  <!-- This will hold  header Messages for You and the list of received messages-->
                <h3>Send Messages</h3>
                <h4>You have sent  {{sentCount}}  messages so far</h4>

                {%   for the_users in return_users %}

                <!-- Below form will display on a loop.  The senders name will be populated on arrival by the route that makes the page and its id needs to be stored in each form.  Probably in the hidden form as a value.  This is so when the form is submitted, it knows where to go -->
                <form action="/messSend" method="POST"> <!-- One of these forms will display for each recipient so we can send to any of them -->

                    <label for="recipientName">{{the_users['fname']}}</label> <!--recipientName displayed here as received from /wall route-->
                    <input type="textarea" class="" id="recipientName" name="sentMessageContent" value=  "">
                    <input type="hidden" id="recipientID" name="recipientID" value="{{the_users['id']}}"> <!--Need recipients id here so /messageSend route knows how to record sender in database.  /wall route populates it, and if this form's submit is clicked, it goes back-->
                    <input type="submit" value="Send">
            
                </form>
                {% endfor %}
            </div>  <!-- End rightSendMessages-->

        </div> <!-- end of sendReceive section -->
    </div> <!-- end container -->

</body>
</html>
